<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwig.admin.mappers.reviewMapper">
	<!-- 검색 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'subject'.toString()">
				where review_subject like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'mem'.toString()">
				where mem_id like '%' || #{keyword} || '%'
			</if>
		</if>
	</sql>
	
	<!-- 목록 전체 개수 -->
	<select id="listCount" resultType="int">
			select count(review_id) from tbl_review
		<include refid="search"></include>
	</select>
	
	<!-- 고객후기 목록 -->
	<select id="reviewList" resultType="com.hwig.admin.review.ReviewVO">
		select * from (select row_number() over(order by review_id desc) as rnum, a.* from tbl_review a
		<include  refid="search"></include>
		)
		where rnum between #{pageStart} and #{pageEnd}
	</select>
	
	<!-- 고객후기 조회 -->
	<select id="review_view" resultType="com.hwig.admin.review.ReviewVO" parameterType="int">
		select * from tbl_review where review_id = #{review_id}
	</select>
	
	<!-- 고객후기 수정 -->
	<update id="review_modify" parameterType="com.hwig.admin.review.ReviewVO">
		update tbl_review
		set review_subject = #{review_subject},
			review_content = #{review_content}
		where review_id = #{review_id}
	</update>
	
	<!-- 고객후기 삭제 -->
	<delete id="review_delete" parameterType="int">
		delete from tbl_review where review_id = #{review_id}
	</delete>
	
	<!-- 고객후기 삭제시 번호 하나씩 땡김 -->
	<update id="review_id_d" parameterType="com.hwig.admin.review.ReviewVO">
		update tbl_review set review_id = review_id - 1 where review_id > #{review_id}
	</update>
	
	
	<!-- 여기부턴 메인 -->
	
	<!-- 고객후기 상품페이지에서 뿌려줄 때 -->
	<select id="rv_main_list" resultType="com.hwig.admin.review.ReviewVO" parameterType="int">
		select * from tbl_review where prd_id = #{prd_id}
		order by review_regdate
	</select>
	
	<!-- 고객후기 마이페이지에서 볼 때 -->
	<select id="rv_mem_list" resultType="com.hwig.admin.review.ReviewVO" parameterType="String">
		select r.review_id, r.review_subject, r.review_content, r.review_regdate, p.prd_name, r.review_img
		from tbl_review r, tbl_prd p
		where r.prd_id = p.prd_id and mem_id = #{mem_id}
	</select>
	
	<!-- 후기 클릭했을 때 조회수 올려줌 -->
	<update id="rv_hit" parameterType="int">
		update tbl_review set review_hit = review_hit + 1 where review_id = #{review_id}
	</update>	
	
	<insert id="review_write" parameterType="com.hwig.admin.review.ReviewVO">
		insert into tbl_review(review_id, prd_id, mem_id, review_subject, review_content, review_img)
		values((select nvl(max(review_id)+1,1) from tbl_review), #{prd_id}, #{mem_id}, #{review_subject}, #{review_content}, #{review_img})
	</insert>
	
	<delete id="reviewDelete">
		delete from tbl_review where mem_id = #{mem_id}
	</delete>
	
</mapper>